@use 'src/styles/mixins' as mixins;

.logo {
  display: flex;
  justify-content: center;
  gap: 1ch;
  padding: 20px;
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 500;
  color: var(--clr-txt-primary);
  background-color: var(--clr-bgr-tertiary);

  &__accent {
    color: var(--clr-txt-secondary);
  }
}

.sidebar {
  height: 100%;
  background-color: var(--clr-bgr-secondary);
}

.menu {
  padding: 20px;
  display: grid;
  gap: 12px;
  font-size: 22px;
  font-weight: 500;

  &__link {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: calc(100% + 4px);
      height: 6px;
      background-color: var(--clr-txt-secondary);
      border-radius: 10px;
      transform: rotate(-4deg) translateY(8px) scale(var(--scale-x, 0), 1);
      transform-origin: left;
      transition: transform 400ms;
    }

    @include mixins.hover {
      &:hover {
        --scale-x: 1;
      }
    }
  }
}
