:root {
  // fonts
  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: 'IBM Plex Mono', monospace;

  // colors
  --clr-neutral-1: 255 255 255;
  --clr-neutral-2: 41 47 54;
  --clr-neutral-3: 32 31 41;
  --clr-neutral-4: 26 25 37;
  --clr-brand-1: 18 247 214;
  --clr-brand-2: 152 250 236;
  --clr-test-here: 0 0 0;

  // texts
  --clr-txt-primary: rgb(var(--clr-neutral-1));
  --clr-txt-secondary: rgb(var(--clr-brand-1));
  --clr-txt-tertiary: rgb(var(--clr-brand-2));

  // backgrounds
  --clr-bgr-primary: rgb(var(--clr-neutral-4));
  --clr-bgr-secondary: rgb(var(--clr-neutral-2));
  --clr-bgr-tertiary: rgb(var(--clr-neutral-3));
}
